{% extends "layout.html" %}
{% block content %}
<div class="container">
    <table class="todo-table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Created</th>
        </tr>

        {% for todo in todos %}
            <tr>
                <td>{{todo.id}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.content}}</td>
                <td>{{todo.create_date}}</td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}